@model Speaker
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-md-12">
        <img style="width:200px !important;height:200px !important" src="~/img/event/@Model.Image" alt="Alternate Text" />
    </div>
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input class="form-control" asp-for="Photo" accept="image/*">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fullname"></label><br />
                    <input class="form-control" asp-for="Fullname" /><br />
                    <label asp-for="Profession"></label><br />
                    <input class="form-control" asp-for="Profession" />
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a class="btn btn-facebook" asp-action="Index">Go Back</a>
            </div>
        </form>
    </div>

</div>



@section Scripts{
    <partial name="_ValidationAdminParial" />
    
}