@model Course
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Course</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Photo"></label>
                            <input class="form-control" asp-for="Photo" accept="image/*">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                    </div>

                    
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-action="Index" class="btn btn-dribbble">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationAdminParial"/>
 }

