@model Slider
@{
    ViewData["Title"] = "Detail";
}

<div class="row"></div>
<div  class="col-6">
    <img style="width:200px !important;height:200px !important" src="~/img/slider/@Model.Image" alt="Alternate Text" />
</div>
<div class="row">
    <a class="btn btn-facebook"  asp-action="Index">Go Back</a>
</div>

